#messages.column
  %h1 Messages
  %ul
    %li
      = image_tag current_user.image, :class => 'avatar' if current_user
      .content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc volutpat
        rhoncus dui sit amet bibendum. Donec eget mattis elit. Cras suscipit
        lacinia turpis duis.
        .meta
          username on #{Time.now.to_s(:short)}
    %li
      %img.avatar
      .content
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur ac
        orci lorem. Nullam quis faucibus tellus. Maecenas neque lorem, aliquam
        non convallis amet.
        .meta
          username on #{Time.now.to_s(:short)}

  - if user_signed_in?
    = simple_form_for Message.new do |f|
      = f.input :body, :as => :text, :label => false, :hint => "Ctrl+Enter to submit"
      = f.button :submit

#projects.column
  %h1 Projects

  - if @projects.any?
    %ul
      = render @projects

  = link_to "Suggest Project", new_project_path, :class => "button"

#upcoming.column
  %h1 Upcoming

  .date May 19, 2011
  .address
    Solovyova blah blah blah
  .phone
    +38 066 7600063
  = link_to "Show on Map", "#", :id => 'show-on-map'
  
  %ul.agenda
    %li
      .project Project 1
      %ul
        %li alg
        %li cutalion
        %li tepoga

    %li
      .project Project 2
      %ul
        %li jurgen
        %li cool_kid


  :javascript
    $(function() {
      // Submit msg form on Ctrl+Enter
      $('#message_body').keypress(function(e) {
        if (e.which == 10) $('#new_message').submit()
      })
    })
