#messages.column
  %h1 Messages
  %ul
    = render :partial => "message", :collection => @board

  - if user_signed_in?
    = simple_form_for Message.new do |f|
      = f.input :body, :as => :text, :label => false, :hint => "Ctrl+Enter to submit"
      = f.button :submit

#projects.column
  %h1 Projects

  - if @projects.any?
    %ul
      = render @projects
  - else
    .nothing
      There are no projects yet.
      - unless user_signed_in?
        %p Consider signing in and suggesting something.

  - if user_signed_in?
    = link_to "Suggest a project", new_project_path, :class => "button", :id => "suggest_project"
    = simple_form_for :project, :url => projects_path, :html => { :method => :post, :style => "display: none", :id => "suggest_project_form" } do |f|
      %h2 New project
      = f.input :name, :label => false, :input_html => { :placeholder => "Project title" }
      = f.submit
      or
      = link_to "cancel", "#"

#upcoming.column
  %h1 Upcoming

  .date May 19, 2011
  .address
    Solovyova blah blah blah
  .phone
    +38 066 7600063
  = link_to "Show on Map", "#", :id => 'show-on-map'
  
  %ul.agenda
    %li
      .project Project 1
      %ul
        %li alg
        %li cutalion
        %li tepoga

    %li
      .project Project 2
      %ul
        %li jurgen
        %li cool_kid


  :javascript
    $(function() {
      // Submit msg form on Ctrl+Enter
      $('#message_body').keypress(function(e) {
        if (e.which == 10) $('#new_message').submit()
      })
    })
