= simple_form_for resource, :url => :event, :method => :put do |f|
  = f.input :when, :hint => "e.g. 05/19/2011 18:00", :input_html => {:value => f.object.when.to_s(:short)}
  = f.input :address
  = f.input :phone
  = f.button :submit
