#header.box
  #menu
    #user-details
      - if user_signed_in?
        Welcome
        %em= current_user
        = link_to "Sign out", destroy_user_session_path
      - else
        = link_to "Sign in", auth_with_twitter_path

    = link_to "Dashboard", root_path
    = link_to "Edit HN", edit_event_path if admin?
    = link_to "Notify people!", notify_event_path, :method => :post, :confirm => "Really send out notifications?" if admin?

